<div class = "container">
  <div class = "page-header">


    <div class = "text-center times">
      <h1 class = "rockwell">The Bored-room.</h1>
    </div>
    <br>
    <nav class="navbar navbar-inverse inner-pic">
      <div class="container">
      </div>
    </nav>



    <div class = "col-md-3">
      <div id='myPublisherDiv'></div>
      <div id='subscribersDiv'></div>

    <script src='//static.opentok.com/v2/js/opentok.min.js'></script> 
    <script> 
      var apiKey = '45324832';
      var sessionId = '1_MX40NTMyNDgzMn5-MTQ0MDcwNzY2NTg3M34rMWhpYWwvVDlSTTgxbmlIL1FrRWJoVUZ-UH4'; 
      var token = 'T1==cGFydG5lcl9pZD00NTMyNDgzMiZzaWc9MTcwOTBlMjBkM2U0MjIyOWVjY2NjNjRiYWI3MmRiM2EyNzdlY2Q5ZTpyb2xlPXB1Ymxpc2hlciZzZXNzaW9uX2lkPTFfTVg0ME5UTXlORGd6TW41LU1UUTBNRGN3TnpZMk5UZzNNMzRyTVdocFlXd3ZWRGxTVFRneGJtbElMMUZyUldKb1ZVWi1VSDQmY3JlYXRlX3RpbWU9MTQ0MDcwNzY3MSZub25jZT0wLjc4NDkxMDMxMjk5NTAxMDkmZXhwaXJlX3RpbWU9MTQ0MzI5OTYzNCZjb25uZWN0aW9uX2RhdGE9';
      var session = OT.initSession(apiKey, sessionId); 
      session.on({  
          streamCreated: function(event) { 
            session.subscribe(event.stream, 'subscribersDiv', {insertMode: 'append'}); 
          } 
      }); 
      session.connect(token, function(error) {
        if (error) {
          console.log(error.message);
        } else {
          session.publish('myPublisherDiv', {width: 320, height: 240}); 
        }
      });
    </script> 
    </div>

    <div class = "col-md-9 editnator">
      <%= image_tag("ww1.jpg", class: "img-responsive") %>
      <%= image_tag("ww2.jpg", class: "img-responsive") %>
      <%= image_tag("ww3.jpg", class: "img-responsive") %>
      <%= image_tag("me2.jpg", class: "img-responsive") %>
      <%= image_tag("me3.jpg", class: "img-responsive") %>
      <%= image_tag("ww4.jpg", class: "img-responsive") %>
      <%= image_tag("sd1.jpg", class: "img-responsive") %>
    </div>

  </div>
</div>
