<div class = "container">
  <div class = "page-header">


    <div class = "text-center times">
      <h1 class = "rockwell">The Bored-room.</h1>
    </div>
    <br>
    <nav class="navbar navbar-inverse inner-pic">
      <div class="container">
      </div>
    </nav>



    <div class = "col-md-3">
      <div id='myPublisherDiv'></div>
      <div id='subscribersDiv'></div>

    <script src='//static.opentok.com/v2/js/opentok.min.js'></script> 
    <script> 
      var apiKey = '45324832';
      var sessionId = '2_MX40NTMyNDgzMn5-MTQ0MzY0NjMwNjE3Mn41S1dzVHZtRVBVUy8zNDIxeUVweXhEbVV-UH4'; 
      var token = 'T1==cGFydG5lcl9pZD00NTMyNDgzMiZzaWc9YTZkMjg0NDExYzU5OWRlM2Q5NzI3Y2E4ZWQ4MDhhYTc4MjY5ZGYxMDpyb2xlPXB1Ymxpc2hlciZzZXNzaW9uX2lkPTJfTVg0ME5UTXlORGd6TW41LU1UUTBNelkwTmpNd05qRTNNbjQxUzFkelZIWnRSVkJWVXk4ek5ESXhlVVZ3ZVhoRWJWVi1VSDQmY3JlYXRlX3RpbWU9MTQ0MzY0NjMwOSZub25jZT0wLjczMDQ5NTM3Njg3MjA2NzMmZXhwaXJlX3RpbWU9MTQ0NjIzODA4NiZjb25uZWN0aW9uX2RhdGE9';
      var session = OT.initSession(apiKey, sessionId); 
      session.on({  
          streamCreated: function(event) { 
            session.subscribe(event.stream, 'subscribersDiv', {insertMode: 'append'}); 
          } 
      }); 
      session.connect(token, function(error) {
        if (error) {
          console.log(error.message);
        } else {
          session.publish('myPublisherDiv', {width: 320, height: 240}); 
        }
      });
    </script> 
    </div>

    <div class = "col-md-9 editnator">
      <%= image_tag("ww1.jpg", class: "img-responsive") %>
      <%= image_tag("ww2.jpg", class: "img-responsive") %>
      <%= image_tag("ww3.jpg", class: "img-responsive") %>
      <%= image_tag("me2.jpg", class: "img-responsive") %>
      <%= image_tag("me3.jpg", class: "img-responsive") %>
      <%= image_tag("ww4.jpg", class: "img-responsive") %>
      <%= image_tag("sd1.jpg", class: "img-responsive") %>
    </div>

  </div>
</div>
