<div class = "container">
  <div class = "page-header">

    <div class = "text-center times">
      <h1>The Whiteboard</h1>
    </div>
      <hr>

      <div class = "times">
        <%= link_to "G4 Classroom", root_path, data: {confirm: "Why? - Also, no access"}, class: "blk" %>
        <hr>
        <%= link_to "G5 Classroom", root_path, data: {confirm: "You do not have access"}, class: "blk" %>
        <hr>
        <%= link_to "G6 Classroom", root_path, data: {confirm: "You do not have access"}, class: "blk" %>
        <hr>
        <%= link_to "G7 Classroom", g7_path, data: {confirm: "You are entering a live collaboration environment, people can see and hear you!"}, class: "blk"  %>
        <hr>
        <%= link_to "G8 Classroom", root_path, data: {confirm: "You do not have access"}, class: "blk" %>
      </div>

      </div>
    </div>
