<div class = "container">
  <div class = "page-header">

    <div class = "text-center times">
      <h1 class = "rockwell">The Whiteboard.</h1>
    </div>
    <br>

    <nav class="navbar navbar-inverse inner-pic">
      <div class="container">
      </div>
    </nav>



    <div class = "times rockwell-rooms text-center padding">
      <%= link_to "- G4 -", root_path, data: {confirm: "Why? - Also, no access"}, class: "blk" %>
      <hr>
      <%= link_to "- G5 -", root_path, data: {confirm: "You do not have access"}, class: "blk" %>
      <hr>
      <%= link_to "- G6 -", root_path, data: {confirm: "You do not have access"}, class: "blk" %>
      <hr>
      <%= link_to "- G7 -", "http://serene-meadow-5206.herokuapp.com/classrooms", data: {confirm: "You are entering a live collaboration environment, people can see and hear you!"}, class: "blk"  %>
      <hr>
      <%= link_to "- G8 -", root_path, data: {confirm: "You do not have access"}, class: "blk" %>
      <hr>
    </div>

  </div>
</div>
