<!DOCTYPE html>
<html lang='en'>
<head>
  <title>The Whiteboard</title>
  <%= stylesheet_link_tag    'style.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <script src='//static.opentok.com/v2/js/opentok.min.js'></script>
  <%= yield %>

</body>
</html>
