<!DOCTYPE html>
<html lang='en'>
<head>
  <title>The Whiteboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top inner-pic">
    <div class="container">
    </div>
  </nav>


  <script src='//static.opentok.com/v2/js/opentok.min.js'></script>
  <%= yield %>

  <footer>
    <div class = "container">
      <hr class = "hr-thick inner-pic"></hr>
      <div class = "text-center times rockwell-links">
        |
        <%= link_to "Home", root_path, class: "blk" %>
        |
        <%= link_to "Flux - Like a Pro", "https://justgetflux.com/", class: "blk" %>
        |
        <%= link_to "Snippets", "http://www.atomtips.com/get-productive-atom-snippets/", class: "blk" %>
        |
        <%= link_to "Personal Room", personal_room_path, class: "blk" %>
        |
      </div>
    </div>
  </footer>


</body>
</html>
